/* Hiding the checkboxes or radio button*/ 
/*
main
div
input label
*/
main {
  width: 88%; margin: 0 auto;    
}
main input {
 position: absolute;
 opacity: 0;
 z-index: -1;
}
/* Accordion styles */ 
main .faq {
 color: var(--fg-001);
 margin-bottom: 1rem;
}

main .faq-label {
 font-size: 1.2rem;
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 0.1em;
 cursor: pointer;
 user-select: none;
 background-color: var(--bg-002);
 color: var(--fg-001);
}
main .faq-label::after {
 content: '\002B';
 padding: 0.51rem;
 transform: scale(1.8);
 text-align: center;
 transition: all 0.35s;
}
main .faq-content {
 max-height: 0;
 padding: 0 1em;
 transition: all 0.35s;
 display: none;
 }

/* CHECKBOXES */ 
main input:checked + .faq-label {
 background-color: var(--bg-001);
 color: var(--fg-001, BLUE);
}
main input:checked + .faq-label::after {
 content: '\2013';
 transform: scale(1.5);
}
main input:checked ~ .faq-content {
 max-height: 100vh;
 padding: 1em;
 font-size: small;
 font-weight: normal;
 display: block;
 transition: all 0.35s;
 background-color: SNOW;
 color: var(--fg-001);
}

/* RADIO Closing all */ 
main .faq-label {
 position: relative;
}
main .faq-close {
 display: inline-block;
 padding: 1rem;
 font-size: 1rem;
 background-color: var(--bg-001);
 color: GREEN;
 cursor: pointer;
 /*
 position: absolute;
 left: 64rem;
 */
}
