* {
  box-sizing: border-box;
  margin: 0;
}
html,
body {
  font: 16px/1.55 
  BlinkMacSystemFont, "Segoe UI", Roboto, 
  Helvetica, Arial, sans-serif;
  width: 100%; max-width: 130rem;
  margin: 0 auto ;
  background-color: var(--bdb); 
  color: var(--bdf);
}

main {
  width: 88%; margin: 2rem auto; 
  background-color: var(--ttf);
}

header {
  /*
  jb_in_shorts.gif
  jb_in_shorts.png
  jb_in_shorts.jpeg
  jb_in_shorts.webp
  image.webp 
  */  
  background-image: url(https://zzz.anetizer.com/assets/imgs/jb_in_shorts.gif);  
  background-repeat: no-repeat;
  background-size: 1.8rem;
  text-align: center;
  background-color: var(--ttb);
  color: var(--ttf);
  margin: 0 auto;
}
header h1 {
  margin: 0 auto; padding: 0;
  height: 1.21em;
}
nav {
  text-align: center;
  line-height: 1;
  margin: 0 0 0;
  font-size: 1rem;
  vertical-align: middle;
}
nav #colours {
  font-size:  x-small;
  background-color: var(--dvb);
}
.inline li {
  display: inline-block;
}
ul li {
  margin: 0 0.42em 0.000033rem;
}
nav ul li:hover {
  background-color: var(--dvb); color: var(--dvf); 
}
nav ul li a {
  text-decoration: none;
  color: var(--ttf);
}

footer {
  position: fixed;
  bottom: 0; left: 0;
  width: 100%; height: 1.42em;
  text-align: center;
  background-color: var(--ttb);
  color: var(--ttf);
}

#FOOTER-SIDE {
  position: fixed; 
  top: 11em; right: 0;
  font-size: smaller;
  text-align: center;
  writing-mode: vertical-rl;
  background-color: var(--ttb); 
  color: var(--ttf);
  font-weight: 700;
  padding: 1em 0;
}
#FOOTER-SIDE a {
  color: var(--ttf);
}
